html {
  background-color:rgba(230,230,230,1);
}
.App {

  text-align: center;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

label {
  cursor:inherit!important;
}
span {
  text-align: left;
}
#divToPrint{
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
      ;
        display:flex;
        flex-direction:column;
        left:50px;
        top:50px;
        bottom:50px;
        right:50px;
        position: absolute;
        padding:50px 100px 70px 100px;
        background-color:white;
        font-size:12

}

      
