.sm_nav {
  position:fixed;
  z-index: 9000;
  width:100%;
  flex:1;
  height: 80px;
  background-color:rgb(181, 204, 24);
}
.sm_nav ul {
  margin:0;
  padding:0;
  height: 100%;
  display:flex;
  flex-direction: row;
}
.sm_nav li {
  flex:1;
  font-size:20px;
  
  font-weight:bold;
  list-style:none;


}
.sm_nav li:hover {
  background-color:rgb(170, 220, 80);
}

.sm_nav .sm_active {
  background-color:rgb(50, 180, 0);
}
.sm_nav .sm_active:hover {
  background-color:rgb(50, 180, 0);
}
.sm_nav li a {
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
  text-decoration: none;
  color:white;

}

.sm_nav .sm_logo {
  font-size:40px;
}
.sm_nav .sm_diaporama {
  font-size:30px;
}
.logo {
  width:100%;
}
